@charset "utf-8";
/* CSS Document */
body{
	font-family: "ten-mincho-text", serif;
	font-weight: 400;
	font-style: normal;
	color:#432209;
	background-color:#FCF8F5;
}

.logo{
	position:relative;
}

.logo a{
	position:absolute;
	top:0px;
	left:50%;
	transform:translateX(-50%);
	height:100%;
	width:200px;
}

header{
	text-align:center;
	font-size:20px;
	letter-spacing: 0.1em;
	margin:30px auto 20px auto;
	width:90%;
	max-width:1000px;
}
header img{
	width:120px;
	margin-top:10px;
}

.gnav{
	margin-top:30px;
	display:flex;
	justify-content:space-between;
	height:50px;
	border-bottom:solid 2px #432209;
}
.navcontent{
	font-size:18px;
	padding:0px 20px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:all 0.2s;
}
.navcontent:not(.now):not(.blognow):hover{
	background-color:#F3E9E2;
}

.now{
	background-color:#432209;
	color:#FCF8F5;
	pointer-events:none;
}

.blognow{
	background-color:#432209;
	color:#FCF8F5;
}

.spmenu{
	display:none;
}

.socialmedias{
	display:flex;
	justify-content:center;
	margin:0 0 -10px 0;
}

.sp-socialmedias{
	display:none;
}

.mediabtn{
	border-radius: 8px;
	background: #fcf8f5;
	box-shadow: 0px 0px 10px rgba(67, 34, 9, 0.46);
	display:flex;
	align-items:center;
	padding:8px;
	margin:0px 15px;
	transition:all 0.2s;
}

i{
	transform: scale(0.8);
	margin-right:2px;
}


.mediabtn:hover{
	transform:scale(1.1);
	transition:all 0.2s;
}


.slick-prev:before, .slick-next:before {
	color: #432209;
	opacity: 1;
}

.carousel-wrapper{
	margin:20px auto;
	position:relative;
	width:82%;
	max-width:1000px;
}

.carousel-content{
	text-align:center;
	font-size:40px;
	transform: scale(0.8);
	z-index:0;
	margin:0 -0.5%;
	pointer-events: none;
}

.carousel-content img{
	width:100%;
	border-radius:8px;
	transition:all 0.2s;
}

.slick-center{
	transform:scale(0.9);
	transition:all 0.2s;
	z-index:999;
	pointer-events: all;
}

.slick-center:hover{
	transform:scale(0.95);
	transition:all 0.2s;
}

.kunkunsi-btn{
	width:250px;
	height:70px;
	border-radius:8px;
	background:#fcf8f5;
	box-shadow:0px 0px 10px rgba(67, 34, 9, 0.46);
	padding:15px;
	text-align:center;
	margin:0 auto;
	position:relative;
	transition:all 0.2s;
}

.kunkunsi-btn h2{
	font-size: 20px;
	letter-spacing:0.1em;
}
.kunkunsi-btn p{
	margin-top:3px;
	font-size: 12px;
	letter-spacing: 0.08em;
}
.kunkunsi-btn a{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.kunkunsi-btn:hover{
	transform:scale(1.1);
	transition:all 0.2s;
}

.news{
	width:90%;
	max-width:1000px;
	margin:0 auto;
}

h1{
	font-size: 24px;
	letter-spacing: 0.12em;
	border-bottom:solid 2px #432209;
	padding-bottom:3px;
	margin-top:10px;
}

h1 img{
	width:40px;
	margin-right:10px;
}

.news-contents-wrapper{
	margin-left:50px;
}

.newscontent{
	margin-top:10px;
	border-bottom:2px solid #432209;
	padding:2px 0px;
	position:relative;
}
.newscontent a{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.newscontent:hover{
	background-color:#F3E9E2;
	transition:all 0.2s;
}

.date{
	font-size: 12px;
	text-align: left;
	color: rgba(67, 34, 9, 0.5);
}
.newstitle{
	font-size: 16px;
}

footer{
	font-size: 10px;
	letter-spacing: 0.04em;
	text-align:center;
	height:60px;
	margin-top:50px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.contents-wrapper{
	width:90%;
	max-width:1000px;
	margin:0 auto;
}

.profile-contents{
	display:flex;
}

.profile-left{
	width:150px;
}
.itunaicon{
	width:150px;
	height:150px;
	border-radius:75px;
	margin-top:40px;
}

.profsns{
	border-radius: 8px;
	background: #fcf8f5;
	box-shadow: 0px 0px 10px rgba(67, 34, 9, 0.46);
	padding:8px;
	margin:15px 10px;
	transition:all 0.2s;
	text-align:center;
}


.profsns:hover{
	transform:scale(1.1);
	transition:all 0.2s;
}

.profile-right{
	margin:40px 0px 0px 50px;
	font-size:16px;
	line-height:28px;
}

.whatissanshin{
	font-size:16px;
	line-height:28px;
	margin-top:40px;
}

.whatissanshin img{
	width:100%;
	max-width:600px;
	margin:10px auto;
	display:block;
}

.blog-wrapper{
	display:flex;
	justify-content: space-between;
}

.blog-contents{
	width:100%;
}

.blog-index{
	box-shadow:0px 0px 10px rgba(67, 34, 9, 0.46);
	margin-top:20px;
	padding:9px 0px 9px 12px;
	transition:all 0.2s;
	position:relative;
}

.blog-index:hover{
	transform:scale(1.03);
}

.blog-index a{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.blog-archives{
	margin:0px 0px 0px 30px;
}

h4{
	width:200px;
	border-bottom:2px solid #432209;
	font-size:18px;
	padding:2px;
}

.searchinput{
	border:2px solid #432209;
	font-size:12px;
	background-color:#fff;
	width:100%;
	margin-top:10px;
	padding:5px;
}

.submitbtn{
	background-color:#432209;
	color:#FCF8F5;
	font-size:12px;
	padding:5px;
	margin-top:5px;
	transition:all 0.2s;
}

.submitbtn:hover{
	transform:scale(1.1);
}

.monthly,.category{
	margin-top:35px;
}

.monthindex,.categoryindex{
	font-size:16px;
	margin-top:5px;
	cursor:pointer;
}

.monthindex:hover,.categoryindex:hover{
	opacity:0.5;
}

.contact{
	margin:40px auto;
	text-align:center;
	font-size:20px;
}
.contact p{
	margin-bottom:20px;
}

.pagenation{
	text-align:center;
	margin-top:30px;
}
.pagebtn{
	width:30px;
	height:30px;
	border:2px solid #432209;
	margin:0px 5px;
}

.hidden{
	display:none;
	transition:all 0.2s;
}

.blog-text{
	font-size:16px;
	margin:20px 0px 20px 20px;
	width:100%;
	line-height:28px;
}

.textlink{
	text-decoration:underline;
	color:#2C44D3;
}
.textlink:hover{
	background-color:#F3E9E2;
}

@keyframes fadein{
		0%{
			opacity:0%;
		}
		100%{
			opacity:100%;
		}
	}
@keyframes fadeout{
		0%{
			opacity:100%;
		}
		100%{
			opacity:0%;
			display:none;
		}
	}


@media screen and (max-width:860px){
	.logo{
		border-bottom:2px solid #432209;
		padding-bottom:15px;
}
	.gnav{
		display:none;
	}
	
	.spmenu{
		display:block;
		background-color:#FCF8F5;
		box-shadow:0px 0px 10px rgba(67, 34, 9, 0.46);
		width:50px;
		font-size:12px;
		letter-spacing:0.03em;
		border-radius:5px;
		position:fixed;
		top:20px;
		right:5%;
		cursor:pointer;
		transition:0.5s;
		z-index:999;
	}
	
	.menuicon{
		padding-bottom:5px;
	}
	
	.menuicon img{
		width:35px;
		margin-bottom:5px;
	}
	
	.menucontent{
		font-size:20px;
		border-bottom:2px solid #432209;
		
	}
	
	.menucontent p{
		padding:14px 0px;
		border-top:2px solid #432209;
		
	}
	
	.menucontent p:hover{
		background-color:#F3E9E2;
		transition:all 0.2s;
	}
	
	.opened{
		width:90%;
		height:390px;
		transition:0.5s;
	}
	
	.displaynone{
		display:none;
	}
	
	.fadedisplay{
		animation:fadein 0.5s ease;
	}
}

@media screen and (max-width:670px){
	.socialmedias{
		display:none;
	}
	.sp-socialmedias{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin:-20px 0 25px 0;
	}
	.mediabtn{
		margin-top:15px;
		display:flex;
		justify-content: center;
		width:150px;
		
	}
	
	.blog-wrapper{
		display:flex;
		flex-flow:column;
	}
	
	.blog-archives{
		margin:40px 0px 0px 0px;
	}
	.searchinput{
		width:100%;
	}
	
	h4{
		width:100%;
	}
	
	.blog-text{
		width:100%;
		margin:20px 0px 20px 0px;
	}
	
	.contact img{
		width:100%;
	}
	
	.profile-contents{
		flex-direction:column;
	}
	
	.profile-left{
		margin:0 auto -25px auto;
	}
	
	.profsns{
		justify-content: center;
	}

	
	h1{
		display:flex;
		align-items: flex-end;
		font-size:20px;
	}
	.logo{
		font-size:12px;
	}
	
	.logo img{
		width:80px;
	}
	
	.profile-right{
		margin-left:0px;
	}
	
}